.background {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  background: linear-gradient(
    160deg, 
    #fff 0%, #fff 50%,
    #ECEDEA 50%, #ECEDEA 100%
  );
}

.main {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}

a, a:visited {
  color: initial;
  text-decoration: none;
}