.pill {
  --bgColor: #020202;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: var(--bgColor);
}

.pill--danger {
  --bgColor: #701410
}

.pill--warning {
  --bgColor: #E2C743
}

.pill--info {
  --bgColor: #2B3B49
}