
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 4 / 3;
  border-radius: 2rem;
  border: 1px solid rgba(7, 8, 6, 0.1);
  box-shadow: rgba(7, 8, 6, 0.2) 0px 7px 29px 0px;
  font-size: 2rem;
  color: #ECEDEA;
  font-weight: bold;
  background-color: #6E7664;
}

.item__icon {
  display: grid;
  place-content: center;
  position: absolute;
  aspect-ratio: 1 / 1;
  background-color: #A3A495;
  border-radius: 25%;
  padding: 1rem;
  width: 25%;
  top: 0;
  right: 50%;
  transform: translate(50%, -30%);
}

.item__icon > svg {
  display: block;
  width: 100%;
}